<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title is-size-2">
                    Links
                </h1>
                <h4 class="subtitle is-size-5">
                    All my saved links
                </h4>
            </div>
        </div>
        <div class="columns is-multiline">
            {{#each links}}
                <div class="column is-one-third">
                    <div class="box">
                        <a href="{{url}}" target="_blank">
                            <h3 class="title is-size-4">
                                {{title}}
                            </h3>
                        </a>
                        <p>{{description}}</p>
                        <p class="is-size-7" class="timeago">{{timeago created_at}}</p>
                        <div class="add-btn">
                            <a href="/links/delete/{{id}}" class="button is-danger">
                                Delete
                            </a>
                            <a href="/links/edit/{{id}}" class="button is-text">
                                Edit
                            </a>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="column is-one-third has-text-centered is-offset-one-third">
                    <div class="box">
                        <h3 class="is-size-3">Hey, this is empty.</h3>
                        <p class="is-size-5">Save a new link <a href="/links/add/">here</a>.</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>